@keyframes moveinLeft {
  0% {
    opacity: 0;
    transform: translatex(-10rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.secao1 {
  min-height: 100vh;
  position: relative; }

.bg-color1 {
  background-color: #000401; }

.bg-color2 {
  height: 100vh;
  background-image: linear-gradient(to bottom right, rgba(0, 4, 1, 0.8), rgba(40, 42, 44, 0.7)), url(/assets/img/photo-1553526665-dbfe3e8a6fcc.jpeg);
  background-size: cover;
  background-position: top; }

.bg-color3 {
  height: 100vh;
  background-image: linear-gradient(to bottom right, rgba(141, 151, 151, 0.8), rgba(40, 42, 44, 0.7)), url(/assets/img/photo-1628479734799-bcdebe7c85a5.jpeg);
  background-size: cover;
  background-position: top; }

.new1 {
  border: 1px solid #E5E8E8;
  width: 114rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  animation: moveInBottom .5s ease-out .25s;
  animation-fill-mode: backwards; }

.vl {
  height: 45rem;
  border-right: 3px solid #4E545C;
  position: absolute;
  z-index: 10000;
  top: 27%;
  left: 51.2%; }

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif; }

.textwhite {
  color: #8D9797;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 6rem;
  line-height: 5rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn--white {
  background-color: #8D9797;
  color: #282a2c; }
  .btn--white::after {
    background-color: #8D9797; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 4, 1, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 0.6rem rgba(0, 4, 1, 0.2); }

.btn::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 8rem)/ 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 8rem)/ 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 8rem)/ 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 8rem)/ 3) + 8rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 8rem)/ 4) + 8rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 8rem)/ 4) + (2 * 8rem)); }

.header__main {
  height: 100vh;
  background-image: linear-gradient(to bottom right, rgba(0, 4, 1, 0.8), rgba(40, 42, 44, 0.7)), url(/assets/img/photo-1534214526114-0ea4d47b04f2.jpeg);
  background-size: cover;
  background-position: top; }
  .header__main .heading__content {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header__main .heading__content .heading__primary {
      color: #E5E8E8;
      font-weight: 900;
      font-size: 6rem;
      line-height: 5.4rem; }
    .header__main .heading__content .hp1 {
      animation-name: moveinLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
    .header__main .heading__content .hp2 {
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #E5E8E8;
      letter-spacing: 2rem;
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
    .header__main .heading__content .hp3 {
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #E5E8E8;
      letter-spacing: 5rem;
      text-align: center;
      animation-name: moveinLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
    .header__main .heading__content .hp4 {
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #E5E8E8;
      letter-spacing: 1rem;
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
  .header__main .btn-1 {
    position: absolute;
    top: 65%;
    left: 60%; }

.nav__menu {
  background: transparent;
  width: 100%; }
  .nav__menu-itens {
    margin: 0 auto;
    width: 80%;
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }
    .nav__menu-itens ul {
      display: flex;
      justify-content: left;
      padding-top: 2rem;
      padding-left: 18rem; }
    .nav__menu-itens-list li {
      list-style: none;
      padding-left: 2rem;
      text-transform: uppercase; }
      .nav__menu-itens-list li a {
        text-decoration: none;
        color: #E5E8E8;
        font-size: 2rem; }
        .nav__menu-itens-list li a:hover {
          color: #e26a6a; }

.profile__heading {
  animation-name: moveinLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  padding-top: 5rem; }
  .profile__heading img {
    width: 30rem; }
  .profile__heading-title {
    color: #8D9797;
    z-index: 1;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 6rem;
    line-height: 5rem; }
  .profile__heading .textwhite {
    color: #8D9797;
    z-index: 1;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 6rem;
    line-height: 5rem;
    letter-spacing: 5px;
    z-index: 1000; }
  .profile__heading .texttransp {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #E5E8E8;
    letter-spacing: 5px; }

.profile__text {
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  padding-top: 15rem; }
  .profile__text-title {
    color: #8D9797;
    z-index: 1;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 5rem;
    line-height: 4rem; }
  .profile__text-paragraph {
    color: #8D9797;
    padding-top: 4rem;
    font-size: 2.5rem;
    text-align: justify;
    padding-right: 15rem; }
  .profile__text .textwhite {
    letter-spacing: 5px;
    z-index: 1000; }
  .profile__text .texttransp {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #E5E8E8; }
  .profile__text .ttp1 {
    letter-spacing: 10px;
    padding: 1rem 9.5rem; }
  .profile__text .ttp2 {
    letter-spacing: 10px;
    padding: 0 5.5rem; }
  .profile__text .ttp3 {
    letter-spacing: 5px;
    padding: 0 2rem; }
  .profile__text .ttp4 {
    letter-spacing: 5px;
    padding: 0 9.5rem; }
  .profile__text .ttp5 {
    letter-spacing: 5px;
    padding: 0 2rem; }

.secao1 .btn-2 {
  position: absolute;
  top: 85%;
  left: 73.5%; }

.secao1 .btn-3 {
  position: absolute;
  top: 85%;
  left: 20%; }

.skills__content {
  padding-top: 15rem; }
  .skills__content-soft {
    text-align: right;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .skills__content-hard {
    animation-name: moveinLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.hard-list {
  padding-top: 5rem; }

.hard-list2 {
  padding-top: 14rem; }

.textwhite2 {
  color: #8D9797;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 5rem;
  line-height: 4rem; }

.texttransp2 {
  color: #8D9797;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 5rem;
  line-height: 4rem;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #8D9797; }

.habilities-section .btn-2 {
  position: absolute;
  top: 85%;
  left: 73.5%; }

.habilities-section .btn-3 {
  position: absolute;
  top: 85%;
  left: 20%; }

.socialmedias__section {
  width: 114rem;
  margin: 0 auto; }
  .socialmedias__section-title {
    text-align: center;
    padding-top: 15rem;
    color: #000401;
    letter-spacing: 1rem;
    font-weight: 900;
    font-size: 8rem;
    animation: moveInBottom .5s ease-out .0s;
    animation-fill-mode: backwards; }
  .socialmedias__section-img img {
    width: 40rem;
    animation-name: moveinLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .socialmedias__section-img2 img {
    width: 45rem;
    padding-left: 20rem;
    padding-top: 8rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.suggestion4 {
  width: 114rem;
  margin: 0 auto; }
  .suggestion4-title {
    margin-top: 15rem;
    animation: moveInBottom .5s ease-out .0s;
    animation-fill-mode: backwards; }
  .suggestion4__content-txt {
    font-size: 1.6rem;
    color: #E5E8E8;
    padding-top: 5rem;
    animation-name: moveinLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    .suggestion4__content-txt ul li {
      list-style: none; }
      .suggestion4__content-txt ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #E5E8E8;
        font-size: 3rem; }
        .suggestion4__content-txt ul li a:hover {
          color: #282a2c; }

.suggestion4__content-img img {
  width: 50rem;
  display: flex;
  padding-left: 10rem;
  text-align: right;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out; }
